@page
@model MALanguageHub.Pages.Admin.AddAboutUsModel
@{
    ViewData["Title"] = "MALanguageHub | AddAboutUs";
}
<title>@ViewData["Title"]</title>
<div class="container">
    <form method="post" enctype="multipart/form-data">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <h1>
                    Add About Us 
                </h1>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-6">
                <label asp-for="Aboutus.Title" class="form-label"></label>
                <input class="form-control" asp-for="Aboutus.Title" placeholder="Enter Your Title">
                <span asp-validation-for="Aboutus.Title" class="text-danger"></span>

            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-6">

                <label asp-for="Aboutus.Description" class="form-label"></label>
                <textarea class="form-control" asp-for="Aboutus.Description" rows="5" placeholder="Enter Your Description"></textarea>
                <span asp-validation-for="Aboutus.Description" class="text-danger"></span>
            </div>
        </div>
        <div class="row  justify-content-center">
            <div class="col-md-6">

                <label asp-for="Aboutus.ImageName" class="form-label"></label>
                <input class="form-control" asp-for="Aboutus.Image">
                <input type="hidden" asp-for="Aboutus.ImageName" value="MALH" />
                <span asp-validation-for="Aboutus.Image" class="text-danger"></span>
            </div>
        </div>

        <div class="row  justify-content-center mt-3">
            <div class="col-md-6">

                <input type="submit" value="Add About" class="btn btn-primary" />
            </div>
        </div>
    </form>
</div>