@page
@model AddStudentReviewModel
@{
    var successMessage = TempData["SuccessMessage"] as string;
    ViewData["Title"] = "MALanguageHub | AddReview";

}
<title>@ViewData["Title"]</title>
<div class="container">
    <form method="post" enctype="multipart/form-data">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <h2>
                   Add Student Review
                </h2>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-6">
                <label asp-for="StudentReviews.Name" class="form-label"></label>
                <input class="form-control" asp-for="StudentReviews.Name" placeholder="Enter Your Title">
                <span asp-validation-for="StudentReviews.Name" class="text-danger"></span>

            </div>
        </div> 
        
        <div class="row justify-content-center">
            <div class="col-md-6">
                <label asp-for="StudentReviews.Designation" class="form-label"></label>
                <input class="form-control" asp-for="StudentReviews.Designation" placeholder="Enter Your Title">
                <span asp-validation-for="StudentReviews.Designation" class="text-danger"></span>

            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-md-6">

                <label asp-for="StudentReviews.Review" class="form-label"></label>
                <textarea class="form-control" asp-for="StudentReviews.Review" rows="5" placeholder="Enter Your Description"></textarea>
                <span asp-validation-for="StudentReviews.Review" class="text-danger"></span>
            </div>
        </div>
       
        <div class="row  justify-content-center mt-3">
            <div class="col-md-6">
                <a href="/Admin/ShowStudentReview" class="btn btn-secondary">Back </a>

                <input type="submit" value="Add Review" class="btn btn-primary" />
            </div>
        </div>
    </form>
</div>