 @page
@model MALanguageHub.Pages.Admin.ContactUsDetails.EditContactUsModel
@{
    ViewData["Title"] = "MALanguageHub | EditContactUs";
}
<title>@ViewData["Title"]</title>

<div class="container">
    <form method="post" enctype="multipart/form-data">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <h3 class="text-center">Edit Contact Information</h3>
            </div>
        </div>

        <div class="row justify-content-center">
            <!-- Left Column -->
            <div class="col-md-6">
                <div class="mb-3">
                    <label asp-for="contact.Address1" class="form-label"></label>
                  
                    <textarea class="form-control" asp-for="contact.Address1" placeholder="Enter Your Address" rows="4.5"></textarea>
                    <input type="hidden" asp-for="contact.Id" />
                    <span asp-validation-for="contact.Address1" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="contact.EmailAddress1" class="form-label"></label>
                    <input class="form-control" asp-for="contact.EmailAddress1" placeholder="Enter Your Email Address">
                    <span asp-validation-for="contact.EmailAddress1" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="contact.PhoneNumber" class="form-label"></label>
                    <input class="form-control" asp-for="contact.PhoneNumber" placeholder="Enter Your Phone Number">
                    <span asp-validation-for="contact.PhoneNumber" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="contact.Facebook" class="form-label"></label>
                    <input class="form-control" asp-for="contact.Facebook" placeholder="Enter Your Facebook URL">
                    <span asp-validation-for="contact.Facebook" class="text-danger"></span>
                </div>
            
            </div>

            <!-- Right Column -->
            <div class="col-md-6">
                <div class="mb-3">
                    <label asp-for="contact.Address2" class="form-label"></label>
                    <input class="form-control" asp-for="contact.Address2" placeholder="Enter Your Second Address">
                    <span asp-validation-for="contact.Address2" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="contact.EmailAddress2" class="form-label"></label>
                    <input class="form-control" asp-for="contact.EmailAddress2" placeholder="Enter Your Second Email Address">
                    <span asp-validation-for="contact.EmailAddress2" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="contact.WhatsappNumber" class="form-label"></label>
                    <input class="form-control" asp-for="contact.WhatsappNumber" placeholder="Enter Your WhatsApp Number">
                    <span asp-validation-for="contact.WhatsappNumber" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="contact.TikTok" class="form-label"></label>
                    <input class="form-control" asp-for="contact.TikTok" placeholder="Enter Your TikTok URL">
                    <span asp-validation-for="contact.TikTok" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="contact.Instagram" class="form-label"></label>
                    <input class="form-control" asp-for="contact.Instagram" placeholder="Enter Your Instagram URL">
                    <span asp-validation-for="contact.Instagram" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="row justify-content-center mt-3">
            <div class="col-md-4 text-center">
                <input type="submit" value="Update Contact Information" class="btn btn-success">
            </div>
        </div>
    </form>
</div>
